body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

/*---------------------------------------------------------------------- page ---------------------------------------------------------------------------------------*/
.col {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
}

.col-1 {
	width: 25%;
	background-color: #f1f1f1;
	padding-top: 10%;
	padding-bottom: 10%;
}

.col-2 {
	width: 50%;
	background-color: #ffffff;
	padding-top: 8%;
	padding-bottom: 10%;
}

.row {
	width: 90%;
	display: flex;
	flex-direction: row;
	padding-left: 15%;
}

.col-70 {
	width: 70%;
}

#buttonDesign {
	border-radius: 5px;
	margin-bottom: 5%;
	font-size: 1.2em;
	height: 2em;
}

#textDesign {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	margin-bottom: 5%;
}

.wallit {
	background-color: #120078;
	border: 1px solid #120078;
	width: 100%;
	font-size: 16px;
	color: #fff;
}

#textarea {
	width: 80%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
/*------------------------------------------------------------------------------------------- heading ------------------------------------------------------------------------------*/
.heading{
	margin-top:8%;
	margin-left:40%;
}
/*---------------------------------------------------------------------------------------- wall messages ---------------------------------------------------------------------------*/
.messages{
	margin-top: 4%;
	margin-left: 15%;
}
.row-main {
	display: flex;
	flex-direction: row;
	margin-bottom:2%;	
	width: 85%;
	border-radius: 8px;
}

.card {
	background-color: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.user-col {
	width: 20%;
	padding: 1%;
	width: 4vw;
	height: 4vw;
	overflow: hidden;
}

.user-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.user-name {
	width: 100%;
}

.message-col {
	display: flex;
	flex-direction: row;
	width: 60%;
	padding-top: 1%;
	padding-bottom: 2%;
}

.message-top {
	display: flex;
	flex-direction: column;
	width: 90%;
	padding-left: 2%;
	padding-right: 1%;
}

.user-message {
	width: 100%;
}

.message-bottom {
	width: 10%;
	padding: 1%;
	padding-top: 4%;
	width: 2vw;
	height: 2vw;
	overflow: hidden;
}

.user-time {
	width: 100%;
}

.likes-dislikes-col {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.likes-dislikes-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.likes-col {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: 25%;
	padding-top: 2%;
}

.dislikes-col {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: 25%;
	padding-top: 2%;
}

.user-likes-count {
	padding-top: 10%;
	padding-bottom: 10%;
}

.likes-button {
	padding-top: 10%;
}

.user-dislikes-count {
	padding-top: 10%;
	padding-bottom: 10%;
}

.dislikes-button {
	
	padding-top: 10%;
}

#username {
	font-size: 1.2em;
	font-weight: bold;
}

#date {
	font-size: 0.8vw;
	color:grey;
}

#message {
	padding-top: 0.5%;
	padding-bottom: 10%;
	font-size: 1vw;
}

#deleteimg {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#likescount {
	font-size: 2em;
}

#likesimg {
	width:75%;
	height:75%;
}

#dislikescount {
	font-size: 2em;
}

#dislikesimg {
	width:75%;
	height:75%;
}
.friendsList{
	text-decoration: none;
	font-weight:bold;	
	color: black;
	display: none;
}
.friendsList.clicked{
	text-decoration: none;
	font-weight:bold;	
	color: black;
	display: block;
}
.showmoreFriends{
	display: inline;
}
.showmoreFriends.clicked{
	display: none;
}
/*---------------------------------------------------------------------------------------- pagination ---------------------------------------------------------------------------*/
.pagination {
	margin-left:20%;
	margin-top:4%;
}
.pages{
	text-decoration: none;
	font-size: 1.2em;
	padding:1%;
	padding-left:2%;
	padding-right:2%;
	color: #000000;
}
.active {
  background-color: #03c4a1;
  color: white;
  border-radius: 5px;
}

.inactive:hover {
  background-color: #ddd;
  border-radius: 5px;
}
/*------------------------------------------------------------------------------------------ media  -----------------------------------------------------------------------------*/
@media screen and (max-width: 600px) {
	.col {
		width: 100%;
	}
	.col-1 {
		width: 0%;
	}
	.col-2 {
		width: 100%;
	}
	
	#username {
	font-size: 1.2em;
	font-weight: bold;
	}
	#date {
	font-size: 0.8em;
	color:grey;
	}

	#message {
	font-size: 1em;
	}
	.message-bottom {
	width: 10%;
	padding: 1%;
	padding-top: 4%;
	width: 5vw;
	height: 5vw;
	overflow: hidden;
	}
	.user-col {
	width: 20%;
	padding: 1%;
	width: 8vw;
	height: 8vw;
	overflow: hidden;
	}
}